<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car table</title>
</head>
<body>
<div style="text-align: center;">
    <table border="1">
        <thead>
        <tr>

            <th> Model </th>
            <th> Age Of Release </th>
            <th> Colour </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${listCar}">
            <td>
                <div style="text-align: center;"><span th:text="${car.getModel()}"> Model </span></div>
            </td>
            <td>
                <div style="text-align: center;"><span th:text="${car.getYearOfRelease()}"> Age Of Release </span></div>
            </td>
            <td>
                <div style="text-align: center;"><span th:text="${car.getColour()}"> Colour </span></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>